# deps
node_modules/

# OS / IDE
.DS_Store
.idea/

# Turbo cache
.turbo/
**/.turbo/

# build outputs
**/dist/
apps/web/dist/

# Android build caches
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/app/.cxx/

# iOS build caches
**/ios/Pods/
**/ios/build/
**/DerivedData/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
